.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.5rem;
  scroll-snap-align: start;
  width: 100%;
  flex-wrap: wrap;
}

.action-buttons button {
  outline: none;
}

.HomeProductSlide-head {
  color: #163300;
  font-family: monospace;
}

.latest-products-head-left .HomeProductSlide-btn {
  background-color: blue;
  color: white;

}
.action-button {
  color: #163300;
  border-radius: 1rem;
  height: 2rem;
  gap: 0.25rem;
  cursor: pointer;
  display: flex;
  padding: 0 0.75rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  align-items: center;
  text-decoration: none;
  background-color: #65cf21;
}


.action-button--primary:active {
  background-color: aqua;
}

.action-button:active {
  background-color: aquamarine;
}

.action-button--horizontal-scroll {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  background-color: rgb(251, 140, 42)
}

@media screen and (max-width: 768px) {
  .action-button--horizontal-scroll {
    display: none;
  }
}

.action-button--horizontal-scroll:active {
  background-color: rgb(56, 81, 244);
  color: #fff;
}

.action-button--horizontal-scroll:disabled {
  cursor: not-allowed;
  background-color: rgb(192, 191, 191);
}

.action-button--horizontal-scroll:disabled:hover {
  background-color: var(--secondary);
}

.action-button--horizontal-scroll:disabled:active {
  background-color: var(--secondary);
}

#action-button--previous {
  margin-left: auto;
  transform: rotate(-90deg);
}

#action-button--next {
  transform: rotate(90deg);
}

.image-slider {
  background-color: rgb(255, 255, 255);
}

#bank-accounts {

  display: flex;
  gap: 1rem;
  width: 100%;
  overflow: auto;
  height: 34rem;
  padding: 0.5rem;
}

.image-item {
  background-color: #dcddde;
  border-radius: 1rem;
  overflow: hidden;
  padding: 2px;
  width: 15rem;
}

.image-item a {
  color: #000000;
  text-decoration-line: none;
}

.bank-account img {
  max-height: 20rem;
  max-width: 15rem;
  min-width: 15rem;
  object-fit: contain;
  cursor: pointer;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem; 
}
.back-account .image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15rem;
  min-width: 15rem;
  overflow: hidden;
}
.item-content  {
  z-index: 100;
}
.item-content Button {
  width: 100%;
  background-color: #f78b10;
  color: #fff;
}

.item-content .prices {
  display: flex;
}

.item-content .prices p {
  font-size: 1rem;
  color: #666764;
  text-decoration: line-through;
}

.item-content .prices h3 {
  font-weight: 400;
  letter-spacing: -.006em;
  font-size: 1.5rem;
  color: #000000;
}